{% extends 'base.html.twig' %}

{% block title %}Autor index{% endblock %}

{% block body %}
    <h1>Autoři</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Rok narození</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for autor in autors %}
            <tr>
                <td>{{ autor.id }}</td>
                <td>{{ autor.jmeno }}</td>
                <td>{{ autor.prijmeni }}</td>
                <td>{{ autor.rokNarozeni }}</td>
                <td>
                    <a href="{{ path('app_autor_show', {'id': autor.id}) }}" class="btn btn-outline-primary">zobrazit</a>
                    <a href="{{ path('app_autor_edit', {'id': autor.id}) }}"  class="btn btn-outline-secondary">upravit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Žádné záznamy</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_autor_new') }}" class="btn btn-success">Vytvořit</a>
{% endblock %}
