{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Knihovna</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kniha</th>
                <th>Autor</th>
                <th>Rok</th>
                <th>Vydavatel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.kniha }}</td>
                <td>{% if book.autor %}{{ book.autor.jmeno }}{% endif %}</td>
                <td>{{ book.rok|date("Y") }}</td>
                <td>{{ book.vydavatel }}</td>
                
                <td class= "text-end">
                    <a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn btn-outline-primary">zobrazit</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn btn-outline-info">upravit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Žádné záznamy</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}" class="btn btn-success">Nový</a>
{% endblock %}
