{% extends 'base.html.twig' %}

{% block title %}Přehled knih{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src= "https://code.jquery.com/jquery-3.7.0.js"> </script>
    <script src= "https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"> </script>
    <script src= "https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Knihovna</h1>

    <table id="book-table" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kniha</th>
                <th>Autor</th>
                <th>Rok</th>
                <th>Vydavatel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.kniha }}</td>
                <td>{% if book.autor %}
                <a href="{{ path('app_autor_show', {'id': book.autor.id}) }}" >
                {{ book.autor.jmeno }}
                </a>
                {% endif %}</td>
                <td>{{ book.rok|date("Y") }}</td>
                <td>{{ book.vydavatel }}</td>
                
                <td class= "text-end">
                    <a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn btn-outline-primary">zobrazit</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn btn-outline-info">upravit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Žádné záznamy</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

    <script>
    new DataTable("#book-table",{
        lengthMenu: [5,10,15],
        order: [[1, 'desc']]
    });
    </script>
    <a href="{{ path('app_book_new') }}" class="btn btn-success">Nový</a>
    <a href="{{ path('app_autor_index') }}" class="btn btn-primary">Přehled autorů</a>
{% endblock %}
