{% extends 'base.html.twig' %}

{% block title %}Kniha{% endblock %}

{% block body %}
    <h1>Kniha</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Kniha</th>
                <td>{{ book.kniha }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{% if book.autor %}{{ book.autor.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Přečteno</th>
                <td>{{ book.precteno }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
    <div class="col">
    <a href="{{ path('app_book_index') }}" class="btn btn-warning me-3">Zpět na hlavní stránku</a>
    <a href="{{ path('app_book_edit', {'id': book.id}) }}" class= "btn btn-info">Upravit</a>
    </div>
    <div class="col text-end">
    {{ include('book/_delete_form.html.twig') }}
    </div>
</div>

    
{% endblock %}
